<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CrudEscuela</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Student.StudentList">
                <span class="oi oi-person" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Professor.ProfessorList">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Profesores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Grade.GradesList">
                <span class="oi oi-badge" aria-hidden="true"></span> Grados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.StudentGrade.StudentGradeList">
                <span class="oi oi-tags" aria-hidden="true"></span> Estudiantes Grados
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
